#fileSelector {
    background-color: var(--bg-l);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

#fileSelector > * {
    margin: 5px;
}

.file-input {
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.file-input + label {
    transition: 400ms;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.file-input.big + label {
    width: 800px;
    height: 400px;
    border: 3px dashed var(--bg-ll)
}

.file-input.small + label {
    width: 90%;
    height: 3rem;
    background-color: var(--bg);
    border-radius: 10px;
}

.file-input + label > p {
    font-size: 1.2rem;
    color: var(--txt-d);
    text-align: center;
}

.file-input.small + label > p {
    font-size: 1rem;
}

.file-input + label > span {
    font-size: 50px;
    margin: 20px;
    color: var(--txt-d);
}

.file-input.small + label > span {
   display: none;
}

#page-selector {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#page-selector > * {
    margin: 5px;
    font-size: 1.5rem;
}

#preview-canvas-parent {
    width: 100%;
}

#preview-canvas {
    width: 100%;
}