* {
    --txt: #ccc;
    --txt-d: #aaa;
    --bg: #1d1d1d;
    --bg-2: #1d1d1d;
    --bg-l: #252525;
    --bg-ll: #333;
    --prim: #d61a1a;
    --prim-d: #a5311d;
    --prim-dd: #580000ce;

    font-family: arial;
    margin: 0;
    box-sizing: border-box;
    transition: 200ms;
}

*::selection {
    background-color: var(--prim-d);
}

body {
    margin: 0;
    padding: 0;
    color: var(--txt);
    background-color: var(--bg);
    overflow-x: hidden;
}

.no-overflow {
    overflow: hidden;
}

nav {
    position: fixed;
    z-index: 10;

    background-color: var(--bg-ll);
    height: 5rem;
    width: 100%;
    padding: 0 20px;

    display: flex;
    flex-direction: row;
    align-items: center;

    box-shadow: black 0 0 50px -20px;
}

h1 {
    font-weight: 500;
    font-size: 4rem !important;
}

h1 > span {
    font-size: 3.5rem !important;
    vertical-align: baseline;
    position: relative;
    top: 4px;
}

h2 {
    margin-bottom: 0 !important;
    color: var(--txt);
    font-size: 1.8rem !important;
    font-weight: normal;
}

a {
    text-decoration: none;
    color: var(--txt);
}

nav > .title {
    font-size: 2rem;
}

nav > .title > span {
    font-weight: 600;
    color: var(--prim);
}

button {
    color: var(--txt);
    border: none;
}

.btn,
button {
    display: inline-flex;
    padding: 10px 20px;
    background-color: var(--bg-ll);
    border-radius: 10px;
    font-size: 1.2rem;
    transition: 200ms;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.233) 0 10px 20px -10px;
}

.btn:hover,
button:hover,
.helpbtn:hover > span  {
    transform: scale(110%);
}

.colorbtn {
    background-color: var(--prim-d);
}

.circlebtn {
    padding: 0;
    font-size: 1rem;
    min-width: 2.5rem;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
}

.btn > img,
button > img {
    height: 1.5em;
    width: auto;
    margin-right: 15px;
}

.btn > span,
button > span {
    margin-right: 5px;
}

.circlebtn > span {
    margin: 0 !important;
}

.helpbtn > span {
    color: var(--txt-d);
    font-size: 1.2em;
}

.textinput {
    color: var(--txt);
    border: none;
    font-size: 1.1rem;
    box-shadow: var(--prim) 0 0 0 0;
    padding: 10px 10px;
    background-color: var(--bg-ll);
    border-radius: 10px;
    transition: 200ms;
}

.textinput:focus {
    outline: none;
    box-shadow: var(--prim) 0 0 0 3px;
}

.select {
    color: var(--txt);
    border: none;
    font-size: 1rem;
    padding: 5px 10px;
    background-color: var(--bg-ll);
    border-radius: 10px;
    transition: 200ms;
}

.link {
    font-weight: 700;
    color: var(--prim-d);
}

.fade {
    overflow: hidden;
    animation: 500ms fade cubic-bezier(0, 0.41, 0.29, 1);
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 6rem 20px 0 20px;
    max-width: 1500px;
    margin: auto;
}

.page > * {
    margin: 20px;
}

.table-extractor {
    display: grid;

    padding: 5rem 0 0 0;
    min-height: calc(100vh - 5rem);
}

.version {
    margin: 5px;
    font-size: 0.8rem;
    transform: translate(0, -0.8rem);
}

.transparent {
    opacity: 0 !important;
    pointer-events: none;
}

.no-display {
    display: none !important;
}

.flex-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: stretch;
}

.flex-row > * {
    margin: 0 5px;
}

.tip {
    box-sizing: border-box;
    width: 100%;
    max-width: 300px;

    margin: 10px 0;
    padding: 20px;

    border: 2px solid var(--prim-d);
    border-radius: 10px;

    color: var(--txt-d)
}

.tip > span {
    vertical-align: middle;
    position: relative;
    bottom: 3px;
}

.flex-grow {
    flex-grow: 5;
}

.help-frame {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: stretch;
    position: relative;
    padding: 20px;
    border-radius: 10px;
}

.help-frame.example {
    border: 2px solid rgb(0, 83, 0);
}

.help-frame.example::before {
    content: "Exemple :";
    background-color: rgb(0, 83, 0);
}

.help-frame.warning {
    border: 2px solid rgb(107, 87, 0);
}

.help-frame.warning::before {
    content: "Remarque :";
    background-color: rgb(107, 87, 0);
}


.help-frame > *,
.help-frame > div > * {
    margin: 5px;
}

.help-frame::before {
    position: absolute;
    top: calc(-0.5rem - 4px);
    border-radius: calc(0.5rem + 2px);
    padding: 2px 15px;
}

.help-frame > div > table,
.help-frame > div > table > tbody > tr > td {
    border: 1px solid var(--bg-ll);
    border-collapse: collapse;
    text-align: center;
    padding: 0 5px;
    line-height: 1.5rem;
}

footer {
    margin-top: 30px;
    height: 5rem;
    background-color: var(--bg-l);
    width: 100%;
    padding: 0 30px;

    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}


