#pages-view {
    height: calc(100vh - 10rem);
    max-height: 500px;
    width: calc(100vw - 5rem);
    max-width: 800px;

    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    align-content: start;
}

#multi-select > h2 {
    text-align: right;
}

.small-preview {
    position: relative;
    border: 1px dotted green;
    width: auto;
    height: auto;
    margin: 10px;
}

.small-preview > canvas {
    width: 100%;
    height: 100%;
}

.page-check {
    position: absolute;
    right: -0.5rem;
    top: -0.5rem;
    width: 2rem;
    height: 2rem;
    
    padding: 0;
    border-radius: 50%;
    background-color: var(--bg-l) !important;
    border: 1px solid #555;
    box-shadow: none !important;
}

.page-check.selected {
    background-color: var(--prim-d) !important;
    border: none;
}

.page-check > span {
    display: none;
    font-size: 1.5rem;
    text-align: center;
    margin: 0;
}

.page-check.selected > span {
    display: block;
}
